<%- include('templates/header') %>

<%- include('templates/navbar', {navLinks: navLinks}) %>
<div>
    <p><%= tutorialArray[articleId].content %></p>
    <p></p>
    <% for (let j = 0; j < tutorialArray[articleId].sections.length; j++) { %>
    <h4><%= tutorialArray[articleId].sections[j].title %></h4>
    <ul>
        <li><%= tutorialArray[articleId].sections[j].content %></li>
    </ul>
    <p></p>
    <% } %>
    <button onclick="history.back()">Go Back</button> 
</div>

<%- include('templates/footer') %>